{% extends "admin/base.html.twig" %}

{% block main %}

	<div class="page-title">
		<h2>Ajouter une catégorie</h2>
	</div>

	<div class="container d-flex justify-content-center">
		<div class="card" style="width: 50%;">
			<img src="https://picsum.photos/450/250" class="card-img-top" alt="...">
			<div class="card-body">
				{{form_start(categoryForm)}}

				{{form_label(categoryForm.name, 'Nom')}}
				{{form_widget(categoryForm.name)}}
				<hr>

				{{form_label(categoryForm.description, 'Description')}}
				{{form_widget(categoryForm.description)}}
				<hr>

				{{form_label(categoryForm.media, 'Image')}}
				{{form_widget(categoryForm.media)}}
				<hr>

				{{form_widget(categoryForm.Enregistrer)}}

				{{form_end(categoryForm)}}
			</div>
		</div>
	</div>

{% endblock %}
