{% extends "front/base.html.twig" %}

{% block main %}

	<div class="page-title">
		<h2>{{ category.name }}</h2>
	</div>

	<div class="container">
		<div class="card" style="width: 50%;">
			<img src="{{ asset('images/' ~ category.media) }}" alt="{{ category.name }}">
			<div class="card-body">
				{% for product in category.products %}
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Name :
							{{ product.name }}</li>
						<li class="list-group-item">image :
							<img src="{{ asset('images/' ~ product.images[0].src ) }}" alt="{{ product.images[0].alt }}"></li>
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
